<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Album</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--contenu de votre page-->

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>Albums</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Genres</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Artists</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Années</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>



