<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Artiste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Artiste</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-disc-list-component sort="artist"></app-disc-list-component>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
