<ion-card *ngFor="let CD of listCD">
    <ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <ion-card-title>{{CD.title}}</ion-card-title>
                    <ion-card-subtitle>{{CD.artist}}</ion-card-subtitle>
                    <ion-card-subtitle>{{CD.year}}</ion-card-subtitle>
                    <ion-card-subtitle>{{CD.genre}}</ion-card-subtitle>
                </ion-col>
                <ion-col size="2" offset="2">
                    <button  style="text-decoration: none; background: none" (click)="removeCD(CD.id)">
                        <ion-icon size="large" color="danger" name="close-circle"></ion-icon>
                    </button>

                </ion-col>
            </ion-row>
        </ion-grid>



    </ion-card-header>

    <ion-img [src]= CD.image></ion-img>


    <ion-list *ngIf="trackVisible">
        <ion-button expand="block" fill="outline" (click)="trackVisible = !trackVisible">
            <ion-icon name="chevron-up-outline"></ion-icon>
            <ion-label>&nbsp; musiques</ion-label>
        </ion-button>
        <ion-item *ngFor="let track of CD.titles">
            <ion-icon name="musical-notes-outline"></ion-icon>
            <ion-label>&nbsp;{{track}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-button *ngIf="!trackVisible" expand="block" fill="outline" (click)="trackVisible = !trackVisible">
        <ion-icon name="chevron-down-outline"></ion-icon>
        <ion-label>&nbsp; musiques</ion-label>
    </ion-button>
</ion-card>
