<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add CD</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add CD</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="addDiscForm()">

    <img style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;" src="../../assets/img/default.png"/>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="album.title" name="title" clearInput required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Artist</ion-label>
      <ion-input [(ngModel)]="album.artist" name="artist" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">genre</ion-label>
      <ion-input [(ngModel)]="album.genre" name="genre" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">titles</ion-label>
      <ion-input [(ngModel)]="album.titles" name="titles" clearInput></ion-input>
    </ion-item>

    <ion-input [(ngModel)]="album.year" type="number" name="number" value="2020"></ion-input>


    <ion-button type="submit" expand="block">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>&nbsp;Ajouter</ion-label>
    </ion-button>


  </form>

  <!--contenu de votre page-->
</ion-content>


