
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--contenu de votre page-->
  <ion-searchbar  placeholder="album" [(ngModel)]="album"  (ionChange)="searchChanged()" showCancelButton="focus"></ion-searchbar>

  <ion-card *ngFor="let item of results">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>{{item.title}}</ion-card-title>
            <ion-card-subtitle>{{item.artist}}</ion-card-subtitle>
            <ion-card-subtitle>{{item.year}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="2" offset="2">
            <button style="text-decoration: none; background: none" (click)="addCD(item)">
              <ion-icon size="large" color="primary" name="add-circle-outline"></ion-icon>
            </button>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-header>
    <ion-img [src]= item.image></ion-img>
  </ion-card>

</ion-content>



